* {
	margin: 0px;
	padding: 0px;
}

.page1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 5;
}

.page2 {
	position: absolute;
	width: 1080px;
	height: 810px;
	display: none;
	z-index: 10;
}

.touch1 {
	position: absolute;
  left: 494px;
  top: 178px;
  width: 165px;
  height: 164px;
	z-index: 10;
}

.touch2 {
	position: absolute;
  left: 754px;
  top: 78px;
  width: 262px;
  height: 164px;
	z-index: 10;
}

.touch3 {
	position: absolute;
  left: 541px;
  top: 448px;
  width: 522px;
  height: 245px;
	z-index: 10;
}
